html,
body {
    height: 100%;
}

body.blank {
    display: flex;
    padding: 40px 0;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

body.blank .wrap {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: -40px auto;
    padding: 15px;
}

body.blank .wrap > div {
    width: 100%;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/*added by pooja on 6 jan*/
.form-sec {
    background-color: #e8e8e8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    min-height: 100vh;
}

.theme-form {
    background-color: #fff;
    border-radius: 15px;
    max-width: 500px;
    padding: 15px 15px;
    box-shadow: 0 0 10px rgb(0,0,0, .16);
    width: 100%;
}

.logo-form img {
    width: 100%;
    max-width: 190px;
}

.heading-form {
    display: block;
    margin: 0;
}

.heading-form h2 {
    font-weight: 700;
    color: #000;
    font-size: 20px;
    margin-bottom: 15px;
}

.theme-form label {
    color: #000000;
    font-weight: 700;
    font-size: 12px;
}
.form-field input, .form-field select, .form-field textarea {
    padding: 6px 12px 6px 12px;
    border-radius: 10px;
    border: 1px solid #000;
    height: 40px;
    width: 100%;
    color: #000000;
    box-shadow: none;
    font-size: 14px;
}



.form-control textarea {
    height: auto !important;
}

.radio-form-group label input {margin: 0 0 0 -25px;border: 1px solid #c7cce6;width: 16px;height: 16px;}

.radio-form-group label {
    padding-left: 30px;
}

.checkbox-form-group label {
    padding-left: 28px;
    width: 100%;
    margin-bottom: 12px;
    margin-left: 0 !important;
    display: block;
    height: 26px;
    position: relative;
}

.checkbox-form-group label input {
    margin: 0 0 0 -25px;
    border-radius: 10px;
    border: 1px solid #c7cce6;
    /* width: 16px; */
    height: 16px;
}

.btn-form {
    width: 100%;
    padding: 9px 15px;
    background-color: #6d49be;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
}
.btn-form:hover{
    color: #fff !important;
    background-color: #000;
}

.checkbox-form-group strong {
    color: #5d6690;
    font-weight: 800;
}


.form-bottom-text {
    padding-top: 15px;
    font-size: 13px;
    color: #6d49be;
}

.form-bottom-text a {
    color: #6d49be;
    font-weight: 600;
}

.forgot-pw {
    margin: 4px 0 60px;
    display: block;
    color: #a0a3b3;
}

.forgot-pw:hover {
    text-decoration: none;
    color: #6d49be;
}
.form-field-icon {
    position: relative;
}

.form-field-icon span {
    position: absolute;
    left: 9px;
    top: 50%;
    transform: translateY(-50%);
}

.form-field-icon input{
    padding-left: 35px;
}


/********upload file*************/


.upload-form-field label{
  display: inline-block;
  background-color: #6d49be;
  color: white;
  padding: 6px 15px;
  font-family: sans-serif;
  border-radius: 7px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  top: -4px;
  margin: 0;
  left: 15px;
}

.upload-form-field input{padding: 0 0 0 14px;width: 100%;}

.upload-form-field {
    position: relative;
    margin: 27px 0 34px !important;
}

.upload-form-field input:focus {
    outline: none !important;
}


.select-form-field select {
    outline: none;
    appearance: none;
    position: relative;
    background-image: url(../arrow-down.png);
    background-repeat: no-repeat;
    background-position: 97% 12px;
    color: #a0a3b3;
}


/*************checkbox************/


.checkbox-form-inline-group label {
    display: inline-block;
    width: auto;
    margin-right: 30px;
    margin-bottom: 0;
}

.checkbox-form-group {
    margin: 25px 0 0;
}
.checkbox-form-group input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-form-group .checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 5px;
}

.checkbox-form-group input:checked ~ .checkmark {
    background-color: #ffffff;
    border-color: #000;
}

.checkbox-form-group .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-form-group input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-form-group .checkmark:after {
    left: 5px;
    top: 2px;
    width: 7px;
    height: 11px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/********radio***********/


.radio-form-group input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-form-group .checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #c7cce6;
}

.radio-form-group  input:checked ~ .checkmark {
    background-color: #ffffff;
}

.radio-form-group .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-form-group input:checked ~ .checkmark:after {
    display: block;
}

.radio-form-group .checkmark:after {
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background: #6d49be;
}

.com-theme-form {
    max-width: 815px;
}


.checkbox-form-group.checkbox-form-inline-group span {
    display: block;
    color: #000000;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 12px;
}

.form-group.checkbox-form-group.checkbox-form-inline-group {
    margin: 20px 0 0 !important;
}
.form-group.checkbox-form-group.checkbox-form-inline-group.form-sec-no-m {
    margin: 8px 0 0 !important;
}



.num {
    display: inline-block;
    border: 2px solid;
    padding: 10px 5px;
    line-height: 0;
    font-size: 16px !important;
    font-weight: 700;
    margin-right: 8px;
}

.inline-span {
    display: inline-flex !important;
    width: 100%;
    margin: 0 !important;
}

table.table-form tr, table.table-form tr th, table.table-form tr, table.table-form tr td {
    border: 1px solid #666;
}
table.table-form tr td:nth-child(1) {
    width: 5%;
    font-weight: 600;
}

table.table-form tr td:nth-child(2) {
    width: 55%;
}
.inline-form-span .inline-span {
    width: auto !important;
    padding-right: 12px;
}




















@media only screen and (max-width: 991px){
.com-theme-form {
    max-width: 100%;
    margin: 0 15px;
}

}



@media only screen and (max-width: 767px){
    .theme-form {
        max-width: 100%;
        margin: 0 15px;
        padding: 10px;
    }

    .heading-form h2 {
        font-size: 16px;
    }

    .logo-form img {
        max-width: 148px;
    }
    .btn-form {
        padding: 6px 15px;
        font-size: 18px;
    }
    .forgot-pw {
        margin: 5px 0 40px;
    }
    .table thead th {
        font-size: 12px;
        padding: 10px 7px;
    }

    .checkbox-form-inline-group label {
        width: 100%;
    }

    .checkbox-form-group .checkmark {
        top: 0;
    }

    table.table-form input {
        padding: 4px;
        height: 34px;
        border-radius: 4px;
    }


    .num {
        border: 1px solid;
        padding: 8px 5px;
        font-size: 12px !important;
    }



}

